/* .table{

  border-style: solid;
  border-color: blue;
  border-width: 50%;
  
} */

body{
  background-color: #000000;
  color:#ffffff;
}
.prof{
  background-color: rgb(255, 255, 255);
  color:#ffffff;
}